body{
    padding: 0;
    margin: 0;
   background:url('OIP\ \(2\).jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    background-size:cover;
   
}
#my-div img{
    height: 150px;
    width: 150px;
}
#my-div{
    height: 100px;
    width: 100px;
    position: absolute;
    transition: 0.2s ease-out;
}